<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Sebastian Meier | @seb_meier">
  <meta name="description" content="Creating meaningful user-experiences by combining data-driven approaches with user-centric perspectives.">
  <meta http-equiv="last-modified" content="{{ site.time }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | absolute_url }}">

  <link rel="icon" href="{{ "/favicon.ico" | absolute_url }}" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absolute_url }}" type="image/x-icon" />

  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | absolute_url }}">

  <link rel="manifest" href="{{ "/site.webmanifest" | absolute_url }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | absolute_url }}">
  <meta name="msapplication-TileColor" content="#2691d5">
  <meta name="theme-color" content="#ffffff">

  <meta itemprop="name" content="Sebastian Meier | {{ page.title }}">
  <meta itemprop="datePublished" content="{{ site.time }}">
  <meta itemprop="dateModified" content="{{ site.time }}">
  <meta itemprop="author" content="Sebastian Meier | @seb_meier">
  <meta itemprop="publisher" content="Sebastian Meier | @seb_meier">
  <meta itemprop="headline" content="Sebastian Meier | {{ page.title }}">
  <meta itemprop="mainEntityOfPage" content="https://www.sebastianmeier.eu">
  <meta itemprop="description" content="Creating meaningful user-experiences by combining data-driven approaches with user-centric perspectives.">
  <meta itemprop="image" content="{{ "/social_media.jpg" | absolute_url }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@seb_meier">
  <meta name="twitter:title" content="Sebastian Meier | {{ page.title }}">
  <meta name="twitter:description" content="Creating meaningful user-experiences by combining data-driven approaches with user-centric perspectives.">
  <meta name="twitter:creator" content="@seb_meier">
  <meta name="twitter:image" content="{{ "/social_media.jpg" | absolute_url }}">

  <meta property="og:title" content="Sebastian Meier | {{ page.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="https://www.sebastianmeier.eu">
  <meta property="og:image" content="{{ "/social_media.jpg" | absolute_url }}">
  <meta property="og:description" content="Creating meaningful user-experiences by combining data-driven approaches with user-centric perspectives.">
  <meta property="og:site_name" content="https://www.sebastianmeier.eu">
  <meta property="article:published_time" content="{{ site.time }}">
  <meta property="article:modified_time" content="{{ site.time }}">
  <title>Sebastian Meier | {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | absolute_url }}" media="all">
</head>